<!DOCTYPE html>
<html lang="en">

<head>
    <!--HEADER-->
    <% include ../partials/header.ejs %>
    
    <title> Confirm Order - Skip The Line </title>
    
    <!-- ADD FONTS-->
    
<!--INFO:
MUDIT (MATT) JAIN
SKIP THE LINE
SUNDAY, APRIL 12, 2020
-->
	<!--
  <style>
    html {
      font-family: 'Roboto', sans-serif;
    } body {
      background-color: #11BFC7;
      /*background-image: linear-gradient(to bottom, #11BFC7, #47E2D6);*/
    }
  </style>
	-->

</head>
    
<body>
  <div class="container-fluid">

    <div class="header">
        <h1>SKIP THE LINE</h1>
    </div>


    <div class='loginbox'>

    <br>
    <h1> Confirm Order </h1>
    
    <% console.log("confirm order cart = " + JSON.stringify(cart_items)); %>
    <% var itemLength = parseInt(item_amount); %>

    <% for(var i = 0; i < itemLength; i++) { %>
      
      <li><%= cart_items[i].item %> – <%= cart_items[i].price %> – <%= cart_items[i].quantity %> – <%= cart_items[i].date %></li>
    <% } %>
    <h4>Subtotal: <%= total_cost %></h4>
    
    <br>
    <button href="/order_now">Go Back</button>
    <a href="#" class="btn" role="button">Pay Now</a>
    </div>
  </div>
</body>

</html>