<!DOCTYPE html>
<html lang="en" style="background-color: #60D5DA;">

  <head>
      <title> Confirm Order - Skip The Line </title>   
  <!--INFO:
  MUDIT (MATT) JAIN
  SKIP THE LINE
  SUNDAY, APRIL 12, 2020
  -->
    <div class="header" style=" background-color: white;">
        <h1 style="color:#60D5DA; text-align:left; display:inline-block; font-size: 200%;margin-block-start: 0em; margin-block-end: 0em;">SKIP THE LINE</h1>
        <img src="images/logo-teal.png" class="logo_img" style="width:75px; margin-bottom: 20px; margin-block-start: 0em; margin-block-end: 0em;">
      </div>
    <script src="https://js.stripe.com/v3/"></script>
    <script defer src="../../public/scripts/scripts.js"></script>
    <link rel="stylesheet" href="stylesheets/styles.css">
  </head>
      
  <body style="background-color: #60D5DA;">
    <svg id="fader" style="background-color: white;"></svg>
    <script>
      window.addEventListener('pageshow', function(event){
        // document.getElementById('fader').removeAttribute('class', 'fade-in');
        // document.getElementById('fader').setAttribute('class', 'fade-out');
        document.getElementById('fader').setAttribute('class', 'wipe-left');
      });
    </script>
    
      <div class="container-fluid">


        <div class='confirmorderbox'>

        <br>
        <h1> Confirm Order </h1>
        <h3>Ordering for: <%= date %></h3>

        <% console.log("confirm order cart = ", cart); %>
        <table style="margin:auto; text-align: center;">
          <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
          </tr>
          <% for(var i = 0; i < cart.length; i++) { %>
            <tr>
              <td><%= cart[i].name %> </td>
              <td><%= cart[i].price %> </td>
              <td><%= cart[i].amount %> </td>
            </tr>
          <% } %>
        </table>
        <h2>Subtotal: <%= subtotal %></h2>
        
        <br>
        <form action="/order_now" method="GET">
          <input class="submit_button" style="width:40%; display:inline-block;" type="submit" value="Go Back">
        </form>

        <button class="submit_button" style="width:40%; display:inline-block; margin-bottom: 20px;" id="checkout-button">Pay Now</button>

        <script type="text/javascript">
          // Create an instance of the Stripe object with your publishable API key
          var stripe = Stripe('pk_test_mKcGC6Cx3PUXSKEWFSOL9chX00ysQ8DqVX');
          var checkoutButton = document.getElementById('checkout-button');

          checkoutButton.addEventListener('click', function() {
            // Create a new Checkout Session using the server-side endpoint you
            // created in step 3.
            fetch('/create-checkout-session', {
              method: 'POST',
            })
            .then(function(response) {
              return response.json();
            })
            .then(function(session) {
              console.log(session);
              return stripe.redirectToCheckout({ sessionId: session.id });
            })
            .then(function(result) {
              // If `redirectToCheckout` fails due to a browser or network
              // error, you should display the localized error message to your
              // customer using `error.message`.
              if (result.error) {
                alert(result.error.message);
              }
            })
            .catch(function(error) {
              console.error('Error:', error);
            });
          });
        </script>

        </div>
      </div>
    <!-- </main> -->
  </body>

  
</html>