<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="stylesheets/styles.css">
        <div class="header">
            <img src="images/logo.png" class="logo_img">
            <h1 style="text-align:left; display:inline-block; font-size: 200%;margin-block-start: 0em; margin-block-end: 0em;">SKIP THE LINE</h1>
            <div class="navbar">
              <form class="navbar_element" action="/admin_dashboard" method="GET">
                <input class="navbar_button" type="submit" value="Back to Dashboard">
              </form>
              <form class="navbar_element" action="/date_select" method="GET">
                <input class="navbar_button" type="submit" value="Customer View">
              </form>
              <form class="navbar_element" method="POST" action="/logout">
                <input class="logout_button" type="submit" value="Log Out">
              </form>
            </div>
          </div>
    </head>
    <body>
        <!-- <main id="swup" class="transition-wipe"> -->
            <!--error message here but it didn't work-->
            <div id="menu_add">
                <h3>Add Food Menu Item</h3>
                <form method="POST" action="/menu_add">
                    <label for="menuItemAdd">Item</label>
                    <input class="loginfields" required type="text" name="menuItemAdd" id="menuItemAdd" placeholder="Item">

                    <label for="itemPrice">Price</label>
                    <input required type="number" step="0.05" min="0" name="menuItemPrice" id="itemPrice" placeholder="0.00">
                    
                    <label for="menuItemStartDate">Start Date For Which it is Available</label>
                    <input class="loginfields" required type="date" name="menuItemStartDate" id="menuItemStartDate">

                    <h3>
                        End Date For Which it is Available
                    </h3>
                    <input class="loginfields" required type="date" name="menuItemEndDate" id="menuItemEndDate">

                    <input class="submit_button" type="submit" value="Add Menu Item">
                </form> <!--add multiple simultaneous add options-->
            </div>
            <div id="menu_add"> <!-- add form for food type-->
                <h3>Add Drink Menu Item</h3>
                <form method="POST" action="/drink_menu_add">
                    <label for="drinkMenuItemAdd">Item</label>
                    <input required type="text" name="drinkMenuItemAdd" id="drinkMenuItemAdd" placeholder="Item">

                    <label for="drinkItemPrice">Price</label>
                    <input required type="number" step="0.05" min="0" name="drinkMenuItemPrice" id="drinkItemPrice" placeholder="0.00">
                

                    <input class="submit_button" type="submit" value="Add Drink Menu Item">
                </form> <!--add multiple simultaneous add options-->
            </div>
            <div id="menu_remove">
                <h3>Remove Food Menu Item For a Certain Date Range</h3>
                <form method="POST" action="/menu_remove">
                    <label for="menuItemRemove">Item</label>
                    
                    <input required type="text" name="menuItemRemove" id="menuItemRemove" placeholder="Item">
                    <label for="menuDateRemove">Date</label>
                    <input required type="date" name="menuDateRemove" id="menuDateRemove" placeholder="Date">
                    <input class="submit_button" type="submit" value="Make Menu Item Unavailable">
                </form> <!--add toggle availability from table itself-->
            </div>
            <div id="menu">
                <h2>Food Menu</h2>
                <table style="margin:auto;">
                    <tr>
                      <th>Item</th>
                      <th>Price</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                    </tr>
                    <% if(row1.fRows != undefined) {%>
                      <% row1.fRows.forEach(function(r) { %>
                        <tr>
                          <td><%= r.item %> </td>
                          <td><%= r.price %> </td>
                          <td><%= r.startdate %> </td>
                          <td><%= r.enddate %> </td>
                        </tr>
                      <% }); %>
                    <%}%>
                </table>
                  
                  
                <h2>Drink Menu</h2>
                <table style="margin:auto;">
                    <tr>
                    <th>Item</th>
                    <th>Price</th>
                    </tr>
                    <% if(row2.dRows != undefined) {%>
                    <% row2.dRows.forEach(function(r) { %>
                        <tr>
                        <td><%= r.item %> </td>
                        <td><%= r.price %> </td>
                        </tr>
                    <% }); %>
                    <%}%>
                </table>
            </div>
    </body>
</html>