<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="stylesheets/styles.css">
        <div class="header">
            <img src="images/logo.png" class="logo_img">
            <h1 style="text-align:left; display:inline-block; font-size: 200%;margin-block-start: 0em; margin-block-end: 0em;">SKIP THE LINE</h1>
            <div class="navbar">
              <form class="navbar_element" action="/admin_dashboard" method="GET">
                <input class="navbar_button" type="submit" value="Back to Dashboard">
              </form>
              <form class="navbar_element" action="/date_select" method="GET">
                <input class="navbar_button" type="submit" value="Customer View">
              </form>
              <form class="navbar_element" method="POST" action="/logout">
                <input class="logout_button" type="submit" value="Log Out">
              </form>
            </div>
        </div>
    </head>

    <style>
      h3 {
        margin-block-start: 0em;
        margin-block-end: 0em;
      }
    </style>

    <body style="text-align: center;">
        <!-- <main id="swup" class="transition-wipe"> -->
            <!--error message here but it didn't work-->
        <div class="flex-container">

            <div id="menu_add" class="column">
                <h2>Add Food Menu Item</h2>
                <form method="POST" action="/menu_add">
                    <input class="menufields" required type="text" name="menuItemAdd" id="menuItemAdd" placeholder="Item">
                    <input class="menufields" required type="number" step="0.05" min="0" name="menuItemPrice" id="itemPrice" placeholder="0.00">
                    <h3>Available Starting:</h3>
                    <input class="menufields" required type="date" name="menuItemStartDate" id="menuItemStartDate">
                    <h3>To:</h3>
                    <input class="menufields" required type="date" name="menuItemEndDate" id="menuItemEndDate">
                    <h3>Image (JPG only)</h3>
                    <input type="file" id="menuImage">
                    <input class="submit_button" type="submit" value="Add Menu Item" style="margin-bottom: 1.5em; width: 75%;">
                </form> <!--add multiple simultaneous add options-->
            </div>
            <div id="menu_add" class="column"> <!-- add form for food type-->
                <h2>Add Drink Menu Item</h2>
                <form method="POST" action="/drink_menu_add">
                    <input class="menufields" required type="text" name="drinkMenuItemAdd" id="drinkMenuItemAdd" placeholder="Item">
                    <input class="menufields" required type="number" step="0.05" min="0" name="drinkMenuItemPrice" id="drinkItemPrice" placeholder="0.00">
                    <h3>Image (JPG only)</h3>
                    <input type="file" id="menuImage">
                    <input class="submit_button" type="submit" value="Add Drink Menu Item" style="margin-bottom: 1.5em; width: 75%;">
                </form> <!--add multiple simultaneous add options-->
            </div>
            <div id="menu_remove" class="column">
                <h2>Remove Food Menu Item For a Certain Date Range</h2>
                <form method="POST" action="/menu_remove">
                    <input class="menufields" required type="text" name="menuItemRemove" id="menuItemRemove" placeholder="Item">
                    <input class="menufields" required type="date" name="menuDateRemove" id="menuDateRemove" placeholder="Date">
                    <input class="submit_button" type="submit" value="Make Menu Item Unavailable" style="margin-bottom: 1.5em; width: 75%;">
                </form> <!--add toggle availability from table itself-->
            </div>
        </div>
            <div id="menu">
                <h1>Food Menu</h1>
                <table style="margin:auto;">
                    <tr>
                      <th>Item</th>
                      <th>Price</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th>Remove</th>
                    </tr>
                    <% if(row1.fRows != undefined) {%>
                      <% row1.fRows.forEach(function(r) { %>
                        <tr>
                          <td><%= r.item %> </td>
                          <td><%= r.price %> </td>
                          <td><%= r.startdate %> </td>
                          <td><%= r.enddate %> </td>
                          <form action="/food_menu_remove" method="POST">
                            <input type="hidden" value="<%=r.item%>" name="food_item" id="food_item">
                            <td><input class="remove_button" id="item_submit" type="submit" value="Remove"></td>
                          </form>
                        </tr>
                      <% }); %>
                    <%}%>
                </table>
                  
                  
                <h1>Drink Menu</h1>
                <table style="margin:auto;">
                    <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Remove</th>
                    </tr>
                    <% if(row2.dRows != undefined) {%>
                    <% row2.dRows.forEach(function(r) { %>
                        <tr>
                        <td><%= r.item %> </td>
                        <td><%= r.price %> </td>
                        <form action="/drink_menu_remove" method="POST">
                            <input type="hidden" value="<%=r.item%>" name="drink_item" id="drink_item">
                            <td><input class="remove_button" id="item_submit" type="submit" value="Remove"></td>
                          </form>
                        </tr>
                    <% }); %>
                    <%}%>
                </table>
            </div>
    </body>
</html>