<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/public/scripts/scripts.js"></script>
    <script defer src="../../node_modules/swup/dist/swup.min.js"></script>
    <script defer src="../../public/scripts/scripts.js"></script>
    <link rel="stylesheet" href="../../public/stylesheets/styles.css">

    <title>Order Now</title>
    
    <div class="header">
      <img src="images/logo.png" class="logo_img">
      <h1 style="text-align:left; display:inline-block;">SKIP THE LINE</h1>
      <div class="navbar">
        <form class="navbar_element" action="/order_management" method="GET">
          <input class="navbar_button" type="submit" value="order management">
        </form>
        <form class="navbar_element" action="/order_history" method="GET">
          <input class="navbar_button" type="submit" value="order history">
        </form>
        <form class="navbar_element" action="/date_select" method="GET">
          <input class="navbar_button" type="submit" value="date select">
        </form>
        <form class="navbar_element" action="/order_now" method="GET">
          <input class="navbar_button" type="submit" value="date select">
        </form>
        <form class="navbar_element" action="/pending_orders" method="GET">
          <input class="navbar_button" type="submit" value="date select">
        </form>
        <form class="navbar_element" method="POST" action="/logout">
          <input class="navbar_button" type="submit" value="logout">
        </form>
      </div>
    </div>
  </head>
  
  <body style="margin-top: 150px;">
    <main id="swup" class="transition-wipe">
      <h3>Showing Results for: <%= row3.chosenDate %></h3>
      <div class="order_now">
      <h1>Food Items</h1>
        <% var r = row1.fRows; %>
        <% for (var i=0; i<r.length; i++) {%>
          <div class="item_card">
            <h2><%=r[i].item%> - <%=r[i].price%></h2>
            <img class="product_image" src="images/<%=r[i].item%>.jpg">
            <form action="/add_to_cart" method="POST">
              <input type="hidden" value="<%=r[i].item%>" name="item_name" id="item_name">       
              <label id="amount" for="item_quantity">Amount</label>
              <input style="font-size:100%; width:97%;" name="item_quantity" id="item_quantity" type="number" step="1" min=0 value=0>
              <input class="add_to_cart_button" id="item_submit" type="submit" value="Add To Cart">
            </form>
          </div>
        <%}%>
      </div>
      <div class="order_now">

        <h1>Drink Items</h1>
        
        <% row2.dRows.forEach((r) => { %>
          <div class="item_card">
            <h2><%=r.item%> - <%=r.price%></h2>
            <form action="/add_to_cart" method="POST">
              <img class="product_image" src="images/<%=r.item%>.jpg">
              <input type="hidden" value="<%=r.item%>" name="item_name" id="item_name">
              <label id="amount" for="item_quantity">Amount</label>
              <input name="item_quantity" id="item_quantity" type="number" step="1" min=0 value=0>
              <!-- <div class="number-input">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" ></button>
                <input class="item_quantity" min="0" name="item_quantity" value="1" type="number">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
              </div> -->
              <input class="add_to_cart_button" id="item_submit" type="submit" value="Add To Cart">
            </form>
          </div>
    
        <% }); %>
      </div>
      <div class="cart">
        <div class="cart_arrow" style="display:inline-block;">
          <img src="images/Unknown.png" style="width:70px;">
        </div>
        <div style="display:inline-block;">
          <h1>Cart</h1>
          <table style="margin:auto;">
            <tr>
              <th>Item</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Remove</th>
            </tr>
            <% if(row4.cartrow != undefined) {%>
              <% var subtotal = 0; %>
              <% row4.cartrow.forEach(function(r) { %>
                <tr>
                  <td><%= r.name %> </td>
                  <td><%= r.price %> </td>
                  <td><%= r.amount %> </td>
                  <form class="order_now_cart" action="/remove_from_cart" method="POST">
                    <td><input class="remove_button" type="submit" value="remove" style="font-family: 'Helvetica Neue',sans-serif; font-size:15px"></td>
                    <input type="hidden" value="<%=r.name%>" name="item_name" id="item_name">       
                  </form>
                </tr>
                <%subtotal += r.price*r.amount%>
                <% }); %>
              </table>
              <form action="/remove_all_from_cart" method="POST">
                <input class="remove_all_button" type="submit" value="Remove All" style="font-family: 'Helvetica Neue',sans-serif; font-size:15px">
              </form>
              <% subtotal = Math.round((subtotal + Number.EPSILON) * 100) / 100; %>
              <h2>Subtotal: <%= subtotal %></h2>
              <% } %>
              
              <form action="confirm_order" method="GET">
                <input class="submit_button" type="submit" value="Confirm Order">
              </form>
        </div>
      </div>
    </main>
  </body>
  </html>
