<!DOCTYPE html>
<html>
    <head>
      <% include ../partials/header.ejs %>
      <form action="/order_now" method="GET">
        <input type="submit" value="back to order now">
      </form>
    </head>
    <body> 
        <!-- 
            workflow:
            1. display all pending orders
            2. have something that can check the order off
            3. send data back to server
         -->
        <main id="swup" class="transition-fade">
          <h5>Order ID - Item - Price - Amount - Date</h5>
        </main>
        <main id="swup" class="transition-wipe">
         <% rows.forEach((r) => { %>
            <div class="item_card">
              <h5><%= r.order_id %> - <%= r.item %> - <%= r.price %> – <%= r.quantity%> – <%= r.date %></h5>
              <form action="/fulfill_order" method="POST">
                <input type="hidden" value="<%=r.order_id%>" name="order_id" id="order_id">
                <input id="item_submit" type="submit" value="Complete Order">
              </form>
            </div>
            <!-- there should only be one button per order -->
          <% }); %>
        </main>
    </body>
</html>