<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../scripts/scripts.js" type="text/javascript"></script>
    <title>Order Now</title>
  </head>
  
  <body>
    <h4>Food Items</h4>
    <table>
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Amount</th>
      </tr>
      <% var i = 1; %>
      <% row1.fRows.forEach((r) => { %>
        <tr>
          <td><%=r.item%></td>
          <td id="<%=r.item%>_price"><%=r.price%></td>
          <td><input id="<%=r.item%>_quantity" type="number" step="1" min=0 value=0></td>
          <td><button onclick="addToCart(<%=r.item%>)"></button></td>
          <!-- attach addToCart as an event listener -->
        </tr>
        <% i++; %>
        <% }); %>
    </table>
    
    <h4>Drink Items</h4>
    <table>
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Amount</th>
      </tr>
      
      <% row2.dRows.forEach((r) => { %>
        <tr>
        <td><%=r.item%></td>
        <td><%=r.price%></td>
        <td><input id="item_quantity<%=i%>" type="number" step="1" min=0 value=0></td>
      </tr>
      <% i++; %>
      <% }); %>
    </table>
  </body>
  </html>
