<!DOCTYPE html>
<html lang="en">

<head>
    <!--HEADER-->
    <% include ../partials/header.ejs %>
    
<!--INFO:
MUDIT (MATT) JAIN
SKIP THE LINE
SUNDAY, APRIL 12, 2020
-->

</head>

<body>
  <div class="container-fluid">

    <!-- NAVBAR -->
    <% include ../partials/nav.ejs %>
    <main id="swup" class="transition-fade">
      <h5>Order ID - Item - Price - Amount - Date</h5>
    </main>
    <main id="swup" class="transition-wipe">
      <ul>
        <% rows.forEach(function(r) { %>
            <li><%= r.order_id %> - <%= r.item %> - <%= r.price %> – <%= r.quantity%> – <%= r.date %></li>
        <% }); %>
      </ul>
    </main>
  </div>
</body>

</html>