<!DOCTYPE html>
<html lang="en">

<head>
    
<!--INFO:
MUDIT (MATT) JAIN
SKIP THE LINE
SUNDAY, APRIL 12, 2020
-->
  <!-- <script defer src="../../node_modules/swup/dist/swup.min.js"></script> -->
  <script defer src="../../public/scripts/scripts.js"></script>
  <link rel="stylesheet" href="../../public/stylesheets/styles.css">

  <div class="header">
    <img src="images/logo.png" class="logo_img">
    <h1 style="text-align:left; display:inline-block;">SKIP THE LINE</h1>
    <div class="navbar">
      <form class="navbar_element" action="/order_management" method="GET">
        <input class="navbar_button" type="submit" value="order management">
      </form>
      <form class="navbar_element" action="/order_history" method="GET">
        <input class="navbar_button" type="submit" value="order history">
      </form>
      <form class="navbar_element" action="/date_select" method="GET">
        <input class="navbar_button" type="submit" value="date select">
      </form>
      <form class="navbar_element" action="/order_now" method="GET">
        <input class="navbar_button" type="submit" value="Order Now">
      </form>
      <form class="navbar_element" action="/pending_orders" method="GET">
        <input class="navbar_button" type="submit" value="Pending Orders">
      </form>
      <form class="navbar_element" method="POST" action="/logout">
        <input class="navbar_button" type="submit" value="logout">
      </form>
    </div>
  </div>
</head>

<body>
  <!-- <main id="swup" class="transition-wipe"> -->
      <table style="margin:auto;">
        <tr>
          <th>Order ID</th>
          <th>Item</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Date</th>
        </tr>
        <% if(rows != undefined) {%>
          <% rows.forEach(function(r) { %>
            <tr>
              <td><%= r.order_id %> </td>
              <td><%= r.item %> </td>
              <td><%= r.price %> </td>
              <td><%= r.quantity %> </td>
              <td><%= r.date %> </td>
            </tr>
          <% }); %>
        <%}%>
      </table>
    <!-- </main>  -->
</body>

</html>