<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="stylesheets/styles.css">
 
  <% include ../partials/database_nav.ejs %>
  <style>

    .logout_button {
      width: 100%;
    }
    .logo_img {
      vertical-align: unset;
    }
    body {
      text-align: center;
    }
    
    .container {
      text-align: center;
      align-self: center;
      width: 50%;
      margin-left: 25%;
      margin-top: 5%;
    }

    table {
      margin-right: 0%;
      width: 100%;
    }
  </style>
</head>

<body>


<div class="container">
  <h2>Database Results</h2>
 
    <table>
      <th>order_id</th>
      <th>item</th>
      <th>price</th>
      <th>quantity</th>
      <th>date</th>
      <% results.forEach(function(r) { %>
        <tr>
          <td><%= r.order_id %></td>
          <td><%= r.item %></td>
          <td><%= r.price %></td>
          <td><%= r.quantity %></td>
          <td><%= r.date %></td>
        </tr>
      <% }); %>

    </table>
    </div>
</body>
</html>
