<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/public/scripts/scripts.js"></script>
    <title>Order Now</title>
  </head>
  
  <body>
    <h4>Food Items</h4>
    <div id="food_items">
      <% row1.fRows.forEach((r) => { %>
      <div class="item_card">
        <h5><%=r.item%> - <%=r.price%></h5>
        <form action="/add_to_cart" method="POST">
          <input type="hidden" value="<%=r.item%>" name="item_name" id="item_name">
          <label for="item_quantity">Amount</label>
          <input name="item_quantity" id="item_quantity" type="number" step="1" min=0 value=0>
          <input id="item_submit" type="submit" value="Add To Cart">
        </form>
      </div>
      
      <% }); %>
    </div>
    
    <h4>Drink Items</h4>
    
    <% row2.dRows.forEach((r) => { %>
      <div class="item_card">
        <h5><%=r.item%> - <%=r.price%></h5>
        <form action="/add_to_cart" method="POST">
          <input type="hidden" value="<%=r.item%>" name="item_name" id="item_name">
          <label for="item_quantity">Amount</label>
          <input name="item_quantity" id="item_quantity" type="number" step="1" min=0 value=0>
          <input id="item_submit" type="submit" value="Add To Cart">
        </form>
      </div>

    <% }); %>
 
    <h4>Cart</h4>
    <% if(row3.cartrow != undefined) {%>
      <% var subtotal = 0; %>
      <% row3.cartrow.forEach(function(r) { %>
        <h5><%= r.name %> - <%= r.price %> - <%= r.amount %></h5>
        <%subtotal += r.price*r.amount%>
      <% }); %>
      <h4>Subtotal: <%= subtotal %></h4>
    <% } %>
  </body>
  </html>
