<!DOCTYPE html>
<html>
  <head>
      <script defer src="../../public/scripts/scripts.js"></script>
      <link rel="stylesheet" href="stylesheets/styles.css">
      <div class="header">
        <img src="images/logo.png" class="logo_img">
        <h1 style="text-align:left; display:inline-block; font-size: 200%;margin-block-start: 0em; margin-block-end: 0em;">SKIP THE LINE</h1>
        <div class="navbar" style="font-size: 24px;width: 30em;">
          <form class="navbar_element" action="/sudo_dashboard" method="GET">
            <input class="navbar_button" type="submit" value="Back to Dashboard">
          </form>
          <form class="navbar_element" action="/date_select" method="GET">
            <input class="navbar_button" type="submit" value="Customer View">
          </form>
          <form class="navbar_element" method="POST" action="/logout">
            <input class="logout_button" type="submit" value="Log Out">
          </form>
      </div>
    </div>
    <!-- 
    IMPROVEMENTS:
    - Group orders on separate days under separate headings
    -->

  </head>
  <body>    
    <% if(rows && rows.length) {%>
      <h1 style="text-align: left;"><%= rows[0].date.toString().slice(0,15) %></h1>
      <div class="row">
        <div class="item_card">
          <h2>Order ID: <%= rows[0].order_id%></h2>
          <form action="/fulfill_order" method="POST">
            <input type="hidden" value="<%=rows[0].order_id%>" name="order_id" id="order_id">
            <input class="remove_button" id="item_submit" type="submit" value="Complete Order">
          </form>
          <table>
            <tr>
              <th>Item</th>
              <th>Price</th>
              <th>Quantity</th>
            </tr>
            <tr>
              <td><%= rows[0].item %> </td>
              <td><%= rows[0].price %> </td>
              <td><%= rows[0].quantity %> </td>
            </tr>
         
  
      <% for ( var i=1; i<rows.length; i++ ) { %> 
        <% var today = rows[i].date.toString().slice(0,15); %> 
        <% var yesterday = rows[i-1].date.toString().slice(0,15); %> 
        <!-- if the order IDs are different make a new item card -->
        <% if ( rows[i].order_id != rows[i-1].order_id ) { %> 
          </table>
        </div>
        <!-- if the dates are different make a new row -->
          <% if ( today != yesterday ) { %> 
      </div>
            <h1 style="text-align: left;"><%= today%></h1>
            <div class="row">
          <% } %>
          <div class="item_card">
            <h2>Order ID: <%= rows[i].order_id%></h2>
            <form action="/fulfill_order" method="POST">
              <input type="hidden" value="<%=rows[i].order_id%>" name="order_id" id="order_id">
              <input class="remove_button" id="item_submit" type="submit" value="Complete Order">
            </form>
            <table>
              <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
              </tr>
              <tr>
                <td><%= rows[i].item %> </td>
                <td><%= rows[i].price %> </td>
                <td><%= rows[i].quantity %> </td>
              </tr>
        <% } else { %>
          <tr>
            <td><%= rows[i].item %> </td>
            <td><%= rows[i].price %> </td>
            <td><%= rows[i].quantity %> </td>
          </tr>
        <% } %>
        </div>
      </div>
    <% } %>
  <% } else { %>
    <h1>There are no pending orders!</h1> 
  <% } %> 
  </body>
</html>