<!DOCTYPE html>
<html lang="en" id="html">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/mobile.css">

    <title>Order Now</title>
    

  <style>
      

      .cartArrowDesktop {
        position: fixed;
        right: 0;
        /* background-color: pink;
        border: 1px black solid; */
      }
      #close_cart_div {
        position: fixed;
        right: 0;
        z-index: 80;
        height: 50px; 
        overflow: hidden;
        width: 70px;
        display: none;

      }

      .closeCartButton {
        z-index: 81;
      }

      .cartArrowDesktopImg {
        width: 55px;
      }
      

      .plusButton {
        width: 30%;
      }
        
      .minusButton {
        width: 30%;
      }

      .number_input {
        margin-top: 1.9%;
      }

      .logo_img {
        padding-top: 8%;
      }
    
    /*
    @media only screen and (max-width: 768px) {
      .cartArrowDesktop, .closeCartDiv {
        display: none;
      }

      .navbar_element {
        background-color: #53bcc0;
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 24px;
      }
      
      .navDropdown {
        display: hidden;
        position: fixed;
        top: 4%;
        left: 0;
        background-color: #53bcc0;
        text-align: center;
        width: 110%;
        z-index: 1;
      }

      .openNavDiv {
        display: inline;
        top: 50px;
        left: 50px;
        width: 50px;
        z-index: 10;
      }

      #settings_div {
        display:none;
      }

      #order_now_div {
        margin-top: 35%;
      }

      .item_card {
        width: 80%;
      }
      h1.orderNowHeading {
        margin-top: 15%;
      }
      .cart {
        margin-top: 0%;
        
      }

      #cart_div {
        font-size: 12px;
      }

      .closeCartButton {
        margin-top: 0%;
        width: 5%;
        margin-right: 20px;
      }
      
      .cartArrowNav, #close_menu_button {
        display: inline;
      }

      .cartArrow {
        right: 0;
        top: 10px;
        z-index: 10;
      }
      
      #cart_arrow {
        position: unset;
        width: 35%;
        float: right;
      }

      .cartArrowImg {
        display: inline;
        z-index: 10;
      }

      .closeNavButton {
        display: hidden;
        position: absolute;
        top: 0;
        left: 100px;
        background-color:#53bcc0;
      }

      #open_nav_button {
        display: inline-block;
        font-size: 16px;
        width: 215%;
        text-align: center;
        margin-left: -105%;
        margin-top: -30%;
        border-radius: 0;
      }

    .menu_icon {
      display: inline;
      right: -12%;
      width: 10%;
      vertical-align: bottom;
    }

    h1 {
      font-size: 24px;
    }

    .logo_img {
      display: inline;
      z-index: 15;
      margin-left: 27%;    
    }

    .logout_button {
      width: 120%;
      margin-right: 10%;
      padding-top: 2%;
      padding-bottom: 2%;
      vertical-align: center;
    }

    #item_quantity {
      width: 25%;
    }

  }
  */

  
  </style>
  </head>
  <script>
    
    var cartStatus = 0;
    var menuStatus = 0;
    var settingStatus = 0;

    function toggleCart() {
      if (cartStatus == 0) {
        
        if (window.innerWidth <= 768) {
          if (menuStatus == 1) {
            toggleMenu();
          }
          
          document.getElementById("cart_div").style.display = "inline";
          document.getElementById("cart_div").style.width = '84%';
          document.getElementById("cart_div").style.height = '100%';
          document.getElementById("cart_div").style.paddingTop = '0%';
          document.getElementById("cart_div").style.paddingLeft = '10%';
          document.getElementById("cart_div").style.paddingRight = '10%';
          document.getElementById("cart_div").style.marginRight = '-2.5%';
          document.getElementById("cart_icon").style.display = 'none';
          document.getElementById("close_cart_div").style.display = 'inline';
          document.getElementById("close_cart_div").style.top = '0';
          document.getElementById("close_cart_button").style.display = 'inline';
          //document.getElementById("close_menu_button").style.display = 'inline';
          document.getElementById("close_cart_button").style.marginRight = '0%';
          document.getElementById("close_cart_button").style.fontSize = '48px';

        } else {
          if (settingStatus == 1) {
            toggleSettings();
          }

          // slide cart into correct position:
          document.getElementById("cart_div").style.width = '20em';
          document.getElementById("cart_div").style.height = '100%';
          document.getElementById("cart_div").style.paddingTop = '2%';
          document.getElementById("cart_div").style.paddingLeft = '3%';
          document.getElementById("cart_div").style.paddingRight = '3%';
          // document.getElementById("cart_div").style.marginRight = '-2%';
          // document.getElementById("order_now_div").style.marginRight = '30%';
          //close button position
          // document.getElementById("close_cart_button").style.marginRight = '-1.2%';
          document.getElementById("close_cart_button").style.marginTop = '13%';
          document.getElementById("close_cart_button").style.display = 'inline';
          document.getElementById("close_cart_div").style.display = 'inline';
          document.getElementById("cart_icon").style.display = "none";
        }
        
        document.getElementById("cart_div").style.top = "0px";
        document.getElementById("close_cart_button").style.fontSize = '60px';

        cartStatus = 1;


      } else if (cartStatus == 1) {
        // document.getElementById("cart_div").style.display = "none";
        document.getElementById("cart_div").style.width = 0;
        document.getElementById("cart_div").style.height = 0;
        document.getElementById("cart_div").style.top = "-100px";
        document.getElementById("close_cart_button").style.fontSize = 0;
        document.getElementById("close_cart_button").style.display = "none";
        document.getElementById("close_cart_div").style.display = "none";
        document.getElementById("order_now_div").style.marginRight = 0;
        document.getElementById("cart_icon").style.display = 'inline';
        // document.getElementById("close_menu_button").style.fontSize = "0px";

        cartStatus = 0;
      }
    }
    
    function toggleMenu() {
      toggleSettings();
      if (menuStatus == 0) {
        
        if (cartStatus == 1) {
          toggleCart();
        }
        

        //document.getElementById("cart_arrow").style.display = "none";
        
        document.getElementsByClassName("navDrop")[0].style.marginTop = "0";
        document.getElementsByClassName("navDrop")[0].style.display = "inline";


        //document.getElementsByClassName("navbar_element").style.display = "inline";
        var ele = document.getElementsByClassName('navbar_element');
        for (var i = 0; i < ele.length; i++ ) {
            ele[i].style.display = "inline";
        }
        
        document.getElementById("close_nav_div").style.display = "inline";
        document.getElementById("open_nav_div").style.display = "none";
        document.getElementById("logo_img_mobile").style.marginLeft = "0%";
        document.getElementById("header").style.backgroundColor = "#53bcc0";
        document.getElementById("close_cart_button").style.marginRight = "10%";
        document.getElementById("settings_form_mobile").style.display = "inline";
          

        menuStatus = 1;

      } else if (menuStatus == 1) {

        
        document.getElementById("cart_arrow").style.display = "inline";
        document.getElementById("logo_img_mobile").style.marginLeft = "0%";
        document.getElementsByClassName("navDrop")[0].style.marginTop = "-500%";
        document.getElementById("open_nav_div").style.display = "inline";
        document.getElementById("close_nav_div").style.display = "none";
        document.getElementById("header").style.backgroundColor = "#60D5DA";
        document.getElementById("settings_form_mobile").style.display = "none";

        var ele = document.getElementsByClassName('navbar_element');
        for (var i = 0; i < ele.length; i++ ) {
            ele[i].style.display = "none";
        }
        
        menuStatus = 0;
      }
    }
    
    function toggleSettings() {
      if (settingStatus == 0) {
        if (cartStatus == 1) {  //(doesn't close when I open settings)
          toggleCart();
        } 
        
        document.getElementById("settings_div").style.display = "inline";
        settingStatus = 1;

      } else if (settingStatus == 1) {
        document.getElementById("settings_div").style.display = "none";
        settingStatus = 0;
      }
    }
    
  </script>
  
  <body id="body">
  <!-- swipe page transition thing -->
    <svg id="fader"></svg>
    <script>
      window.addEventListener('pageshow', function(event){
        document.getElementById('fader').removeAttribute('class', 'fade-in');
        document.getElementById('fader').setAttribute('class', 'fade-out');
      });
    </script>


    <!-- navbar -->
    <% include ../partials/nav.ejs %>
  

    <!-- cart -->
    <div id="cart_div" class="cart">
      <!-- close cart button -->
      
      <% if (row4.cartrow.length != 0) { %> 
      <table style="
        margin-right: 0px;
        width: -webkit-fill-available;
        height: 10%;
      ">
        <tr>
          <td></td>
          <td style="padding-top:0%;"><h1>Cart</h1></td>
          <!-- <td style="padding-top:0%;text-align: right;padding-right: 0%;">
            <div id="close_cart_div" class="closeCartDiv" style="text-align: right;background-color: pink;">
              <a href="javascript:void(0)" id="close_cart_button" class ="closeCartButton" onclick="toggleCart()" style="text-align: right;">&times;</a>
            </div>
          </td> -->
        </tr>
        <tr>
          <th>Item</th>
          <!-- <th>Price</th> -->
          <th>Quantity</th>
          <th>Remove</th>
        </tr>
        <% if(row4.cartrow != undefined) {%> <!--row4.cartrow && row4.cartrow.length completely bricks for no reason-->
          <% var subtotal = 0; %>
          <% row4.cartrow.forEach(function(r) { %>
            <tr>
              <td style="padding-top: 10px; padding-bottom: 10px;"><%= r.name %> </td>
              <!-- <td style="padding-top: 10px; padding-bottom: 10px;"><%= r.price %> </td> -->
              <td style="padding-top: 10px; padding-bottom: 10px;"><%= r.amount %> </td>
              <form class="order_now_cart" action="/remove_from_cart" method="POST">
                <td style="padding-top: 10px; padding-bottom: 10px;"><input class="remove_button" type="submit" value="X" style="font-family: 'Helvetica Neue',sans-serif;"></td>
                <input type="hidden" value="<%=r.name%>" name="item_name" id="item_name">       
              </form>
            </tr>
            <%subtotal += r.price*r.amount%>
          <% }); %>
      </table>
          <form action="/remove_all_from_cart" method="POST">
            <input class="remove_all_button" type="submit" value="Remove All" style="font-family: 'Helvetica Neue',sans-serif;">
          </form>
          <% subtotal = Math.round((subtotal + Number.EPSILON) * 100) / 100; %>
          <h2>Subtotal: <%= subtotal %></h2>
          
        <% } %>
          <form action="confirm_order" method="GET">
            <input class="submit_button" type="submit" value="Confirm Order">
          </form>
      <% } else { %> 
        <table class="cart_table_mobile" style="
          margin-right: 0px;
          width: -webkit-fill-available;
          height: 10%;
        ">
        <tr>
          <td></td>
          <td></td>
          <td><h1>Cart</h1></td>
          <td></td>
          <td style="text-align: right;">
            
          </td>
          
        </tr>
        </table>
        <h3>You have no Items in Cart!</h3>
      <% } %> 
    </div>
    


    <!-- main body -->
    <div id="order_now_div" class="order_now">
      <!-- open cart button -->
      <div id="cart_arrow" class="cartArrowDesktop">
        <img id="cart_icon" src="images/shopping-cart-icon-vector.png" alt="&lt;- cart" onclick="toggleCart()" class="cartArrowDesktopImg">
      </div>
      <div id="close_cart_div" class="closeCartDiv"> 
        <a href="javascript:void(0)" id="close_cart_button" class ="closeCartButton" onclick="toggleCart()" style="text-align: right; line-height:50px;">&times;</a>
      </div>
      

      <!-- the rest of the menu item cards -->
      <h2 style="text-align: center;">Showing Results for: <%= row3.chosenDate.slice(0,10) %></h2>
      <h1 class="orderNowHeading">Food Items</h1>
        <% var r = row1.fRows; %>
        <% for (var i=0; i<r.length; i++) {%>
          <div class="item_card" id="item_card">
            <h2><%=r[i].item%> - <%=r[i].price%></h2>
            <img class="product_image" src="images/<%=r[i].item%>.jpg">
            <form action="/add_to_cart" method="POST">
              <input type="hidden" value="<%=r[i].item%>" name="item_name" id="item_name">       
              <div class="number_input">
                <label id="amount" for="item_quantity">Amount</label> <br>
                <button class="increment_button_left" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" style="font-size: 200%;">-</button>
                <input class="item_quantity" name="item_quantity" id="item_quantity" type="number" step="1" min=0 value=0>
                <button class="increment_button_right" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">+</button>
              </div>
              <input class="add_to_cart_button" id="item_submit" type="submit" value="Add To Cart">
            </form>
          </div>
        <%}%>

      <h1 class="orderNowHeading">Drink Items</h1>
      
      <% row2.dRows.forEach((r) => { %>
        <div class="item_card" id="item_card">
          <h2><%=r.item%> - <%=r.price%></h2>
          <form action="/add_to_cart" method="POST">
            <img class="product_image" src="images/<%=r.item%>.jpg">
            <input type="hidden" value="<%=r.item%>" name="item_name" id="item_name">
            <div class="number_input">
              <div class="number_input">
                <label id="amount" for="item_quantity">Amount</label> <br>
                <button class="increment_button_left" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" style="font-size: 200%;">-</button>
                <input class="item_quantity" name="item_quantity" id="item_quantity" type="number" step="1" min=0 value=0>
                <button class="increment_button_right" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">+</button>
              </div>
            </div>
            <input class="add_to_cart_button" id="item_submit" type="submit" value="Add To Cart">
          </form>
        </div>
  
      <% }); %>
    </div>
  </body>
  <script>
    var buttons = document.querySelectorAll('form button:not([type="submit"])');
    for(i = 0; i < buttons.length; i++){
      buttons[i].addEventListener('click', function(e){
        e.preventDefault();
      });
    }
  </script>
</html>