<!DOCTYPE html>
<html lang="en">

<head>
    
<!--INFO:
MUDIT (MATT) JAIN
SKIP THE LINE
SUNDAY, APRIL 12, 2020
-->
  <link rel="stylesheet" href="stylesheets/styles.css">
  <!-- navbar -->
  <% include ../partials/nav.ejs %>

  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    /* hide nav dropdown stuff when not mobile view */
    .navDrop {
      display: none;
    }
    .closeNavButton {
      display: none;
    }
    #open_nav_button {
      display: none;
    }
    .navDropdown {
      display: none;
    }
    .openNavDiv {
      display: none;
    }
  @media only screen and (max-width: 768px) {
    /* hide navbar when in mobile */
    .navbar {
      display: none;
    }
    
    /*styling of navbar dropdown items */
    .navbar_element {
      background-color: #60D5DA;
      padding: 5%;
    }
    
    .navDropdown {
      display: hidden;
      position: fixed;
      top: 0%;
      left: 0;
      background-color: #60D5DA;
      text-align: center;
    }

    .openNavDiv {
      display: inline-block;
      position: fixed;
      top: 50px;
      left: 50px;
      width: 50px;

    }

    .closeNavButton {
      display: hidden;
      position: absolute;
      top: 0;
      left: 100px;
      background-color:#60D5DA;
    }

    #open_nav_button {
      display: inline-block;
      font-size: 16px;
      width: 215%;
      text-align: center;
      margin-left: -105%;
      margin-top: -30%;
      border-radius: 0;
    }
    
    .orderTable {
      margin-top: 25%;
      font-size: 10px;
    }
  }

</style>
</head>
<script>
  function showNav() {
    document.getElementById("navDrop").style.marginTop = "0"; //shove it to the top/bring it back to visible
    document.getElementById("navDrop").style.display = "inline-block"; //show the nav dropdown menu
    document.getElementById("open_nav_div").style.display = "none"; //hide the nav open button
  }

  function hideNav() {
    document.getElementById("navDrop").style.marginTop = "-500%"; //shove it offscreen
    document.getElementById("open_nav_div").style.display = "inline-block"; //show the open nav button
  }
</script>
<body>

  <!-- nav dropdown -->
  <div id="navDrop" class="navDropdown">
    <form class="navbar_element" action="/edit_password" method="GET">
      <input class="navbar_button" type="submit" value="Edit Password">
    </form>
    <form class="navbar_element" action="/pending_orders" method="GET">
      <input class="navbar_button" type="submit" value="Pending Orders">
    </form>
    <form class="navbar_element" action="/order_history" method="GET">
      <input class="navbar_button" type="submit" value="Order History">
    </form>
    <form class="navbar_element" action="/date_select" method="GET">
      <input class="navbar_button" type="submit" value="Date Select">
    </form>
    <form class="navbar_element" action="/order_now" method="GET">
      <input class="navbar_button" type="submit" value="Order Now">
    </form>
    <form class="navbar_element" method="POST" action="/logout">
      <input class="logout_button" type="submit" value="Log Out">
    </form>
    
    <input class="navbar_element" type="button" value="Close" onclick="hideNav()">
    
  </div>

  <!-- open dropdown -->
  <div id="open_nav_div" class="openNavDiv">
    <!-- <a href="javascript:void(0)"  onclick="showNav()" style="text-align: right;">Open Navbar</a> -->
    <input class="navbar_element" type="button" value="Open Navbar" id="open_nav_button" onclick="showNav()">
  </div>
  
  <div class="orderTable">
  <svg id="fader"></svg>
    <script>
      window.addEventListener('pageshow', function(event){
        // if(!event.persisted){
        //   console.log("page loaded from cache");
        //   document.getElementById('fader').style.opacity = 0;
        //   return;
        // }
        document.getElementById('fader').removeAttribute('class', 'fade-in');
        document.getElementById('fader').setAttribute('class', 'fade-out');
      });
    </script>
      <% if(rows && rows.length) {%>
        <h1 style="text-align: left;"><%= rows[0].date.toString().slice(0,15) %></h1>
        <div class="row">
          <div class="item_card">
            <h2><%= rows[0].order_id%></h2>
            <table>
              <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
              </tr>
              <tr>
                <td><%= rows[0].item %> </td>
                <td><%= rows[0].price %> </td>
                <td><%= rows[0].quantity %> </td>
              </tr>
           
    
        <% for ( var i=1; i<rows.length; i++ ) { %> 
          <% var today = rows[i].date.toString().slice(0,15); %> 
          <% var yesterday = rows[i-1].date.toString().slice(0,15); %> 
          <!-- if the order IDs are different make a new item card -->
          <% if ( rows[i].order_id != rows[i-1].order_id ) { %> 
            </table>
          </div>
          <!-- if the dates are different make a new row -->
            <% if ( today != yesterday ) { %> 
        </div>
              <h1 style="text-align: left;"><%= today%></h1>
              <div class="row">
            <% } %>
            <div class="item_card">
              <h2><%= rows[i].order_id%></h2>
              <table>
                <tr>
                  <th>Item</th>
                  <th>Price</th>
                  <th>Quantity</th>
                </tr>
                <tr>
                  <td><%= rows[i].item %> </td>
                  <td><%= rows[i].price %> </td>
                  <td><%= rows[i].quantity %> </td>
                </tr>
          <% } else { %>
            <tr>
              <td><%= rows[i].item %> </td>
              <td><%= rows[i].price %> </td>
              <td><%= rows[i].quantity %> </td>
            </tr>
          <% } %>
          </div>
        </div>
      <% } %>
    <% } else { %>
      <h1>You have not ordered anything yet!</h1>
    <% } %>  
</body>

</html>